<html>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<head>
  <title>문의사항 목록</title>
</head>
<body>
<h1>문의사항 목록</h1>
<table style="width: 50%">
  <thead style="background: cornflowerblue">
  <th>NO.</th>
  <th>분류</th>
  <th>제목</th>
  <th>등록날짜</th>
  <th>답변여부</th>
  </thead>
  <tbody>
  <tr th:each="post,i:${postList}">
    <td th:text="${i.count}"></td>
    <td th:text="${post.type}"></td>
    <td>
      <a th:href="@{/cs/inquiry/{id} (id=${post.id})}" th:text="${post.title}"></a>
    </td>
    <td th:text="${post.dateTime}"></td>
    <td th:text="${post.replyCheck} ? 'Yes':'No'"></td>
  </tr>
  </tbody>

</table>
</br>

<button><a href="/cs/inquiry">문의글 작성하기</a></button>
</br></br>
<a href="/cs/logout">&#10140; 로그아웃</a>

</body>
</html>
